.h2 {
  text-decoration: none;
  color: rgb(57, 58, 0);
}
.contain {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 2rem;
}

.img .contain :hover{

  transform: translateX(12px) translateY(-15px);
  box-shadow: -5px 12px 10px rgba(255, 255, 255, 0.2);
  color:#d1c9a2
}

