.loading {
  background-image: url(./img/loadingPokedex.gif);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 625px;
  background-size: cover;
}

/* Home */
.contain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;


}
.fondo{
    background-image: url(./img/snorlax.jpg);  
    background-size: cover;
    background-position:center;
    background-repeat: repeat;

}
.titulo{
  color: rgb(255, 251, 0);
}
.barra{
  flex-wrap: wrap;
  background: rgba( 255, 241, 0, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.nav {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.button1 {
  display: flexbox;
  width: 100%;
  cursor: pointer;
  padding: 7px 1px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: #7b7b7b;
  font-size: 1em;
  color: #999;
  font-family: "Quicksand", sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}
.button1:hover {
  background: #b1e8cd;
}

/*Selectores*/
.contentSelectors {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}

.content-select {
  max-width: 250px;
  position: relative;
}

.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: #7b7b7b;
  font-size: 1em;
  color: #999;
  font-family: "Quicksand", sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.50s ease;
  margin: 5%;
}

.select select:hover {
  background: #b1e8cd;
}
.text {
  position: absolute;
  top: 50px;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nofound{
  background-image: url('./img/noFound.gif');
  height: 15rem;
  width: 20rem;
}