.landing {
  position: absolute;
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: "traslate(-50%,-50%";
  z-index: "-1";
  border-left: 10px;
  background-size: cover;
}
.text {
  color: rgb(250, 250, 250);
  position: absolute;
  top: 15rem;
  right: 15rem;
  left: 15rem;
  z-index: "1";
}

